<div class="color">
<h1 class="text-center">Here You Can View Albums</h1><br>
<div class="container">
<div class="row">
  <% @albums.each do |album| %>
    <div class="col-md-4">
      <div class="card mt-2 bg-light">
        <div class="card-header">
          <div class="text-center"> 
            <strong>Title:</strong>
            <%=album.title%>
          </div>
        </div>
        <div class="card-body text-center"style="height:17rem;">
          <% if album.cover_image.attached? %>
            <%= link_to album do%>
              <%=image_tag(album.cover_image,style:"width:100%")%>
            <%end%>
          <%end%>
        </div>
        <div class="card-footer mb-2">
          <div class="text-center">
            <strong>Tag:</strong>
             <%=album.all_tags%>
          </div>
         <div class="text-center">
          <strong>Total Images: </strong>
           <%=album.images.count%>
        </div>
       <div class="text-center">
          <strong>Description:</strong>
           <%=album.description%>
        </div>
        <div class="text-center">
          <strong>Created at :</strong>
           <%=album.created_at.time %>
        </div>
        </div>
        <span class="text-center mb-3">
        <%= link_to "Edit" , edit_album_path(album), class:" btn btn-info" %>
        <%= link_to "Delete" , album_path(album) , method: :delete, data: {confirm: 'Are you Sure?' }, class:" btn btn-danger" %>
        <span>
      </div>
    </div>
    <%end%>
  </div>
</div>
</div>
